<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
		&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Módulo Login
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				Módulo de prueba Login.
                Aquí podría aparecer un dashboard...
			</p>
		</div>
	</div>
</div>