<div class="modal-header">
  <h4 class="modal-title">{{loadingMessage}}</h4>
  <button type="button" class="close" aria-label="Cerrar" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Detalles</a>
      <ng-template ngbNavContent>
        <div *ngIf="user">
          <div class="col-md-12">
            <div class="card card-container">
              <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="username">Nombre de usuario</label>
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    minlength="7" maxlength="50" #username="ngModel" />
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors.required">El nombre de usuario es requerido.</div>
                    <div *ngIf="username.errors.minlength">Debe ser mayor a 10 caracteres.</div>
                    <div *ngIf="username.errors.maxlength">Debe ser menor a 50 caracteres.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">El correo electrónico es requerido.</div>
                    <div *ngIf="email.errors.email">El correo electrónico debe tener un formato válido como 'user@dominio.com'.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="sexo">Sexo</label>
                  <select name="sexo" class="form-control" [(ngModel)]="form.sexo" required #sexo="ngModel">
                    <option [ngValue]="null" disabled selected>Sexo</option>
                    <option *ngFor="let item of sexos" [ngValue]="item.abbr">{{item.name}}</option>
                  </select>
                  <div class="alert-danger" *ngIf="sexo.errors && f.submitted">
                    <div *ngIf="sexo.errors.required">El sexo es requerido.</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Actualizar datos</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Cambiar contraseña</a>
      <ng-template ngbNavContent>
        <div class="col-md-12">
          <div class="card card-container">
            <form name="form2" (ngSubmit)="f1.form.valid && onSubmitPasswords()" #f1="ngForm" novalidate>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="userPassword" [(ngModel)]="form.password" required
                  minlength="7" (change)="onPasswordChange()" #password1="ngModel" />
                <div class="alert-danger" *ngIf="password1.errors && f1.submitted">
                  <div *ngIf="password1.errors.required">La contraseña es requerida.</div>
                  <div *ngIf="password1.errors.minlength">La contraseña debe ser mayor a 10 caracteres.</div>
                </div>
                <div *ngIf="isErrorRegex" class="alert-danger">La contraseña debe contener un al menos caracter en mayúscula, minúscula, dígito y símbolo.</div>
              </div>
              <div class="form-group">
                <label for="passwordConfirmation">Confirmación de contraseña</label>
                <input type="password" class="form-control" name="passwordConfirmation"
                  [(ngModel)]="form.passwordConfirmation" required minlength="7" #passwordConfirmation1="ngModel"
                  (change)="onPasswordChange()" />
                <div class="alert-danger" *ngIf="passwordConfirmation1.errors && f1.submitted">
                  <div *ngIf="passwordConfirmation1.errors.required">La confirmación de la contraseña es requerida.</div>
                  <div *ngIf="passwordConfirmation1.errors.minlength">La contraseña debe ser mayor a 7 caracteres.</div>
                </div>
                <div class="alert-danger" *ngIf="isErrorConfirmation">La confirmación de la contraseña no coincide con la contraseña.</div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block">Cambiar contraseña</button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem *ngIf="showAuthorizationRoles==true">
      <a ngbNavLink>Roles</a>
      <ng-template ngbNavContent>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li *ngFor="let roleItem of userRoles">
                      <p>{{ roleItem.name }}<button (click)="onRemoveRole(roleItem)" class="btn"
                          title="Eliminar usuario"><span class="oi oi-trash"></span></button></p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li *ngFor="let roleItem of availableRoles">
                      <p>{{ roleItem.name }}<button (click)="onAddRole(roleItem)" class="btn" title="Agregar rol"><span
                            class="oi oi-plus"></span></button></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>