<div class="col-md-12">
  <div class="card card-container">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="7"
          maxlength="50" #username="ngModel" />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">El nombre de usuario es requerido.</div>
          <div *ngIf="username.errors.minlength">
            Debe ser mayor a 7 caracteres.
          </div>
          <div *ngIf="username.errors.maxlength">
            Debe ser menor a 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">El correo electrónico es requerido.</div>
          <div *ngIf="email.errors.email">
            El correo electrónico debe tener un formato válido como 'user@dominio.com'
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="sexo">Sexo</label>
        <select name="sexo" class="form-control" [(ngModel)]="form.sexo" required #sexo="ngModel">
          <option [ngValue]="null" disabled selected>Sexo</option>
          <option *ngFor="let item of sexos" [ngValue]="item.abbr">{{item.name}}</option>
        </select>
        <div class="alert-danger" *ngIf="sexo.errors && f.submitted">
          <div *ngIf="sexo.errors.required">El sexo es requerido.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="active">Estatus</label>
        <br>
        <input class="checkbox" name="active" type="checkbox" [(ngModel)]="form.isActive">&nbsp;<span>El usuario está
          activo</span>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="10"
          (change)="onPasswordChange()" #password="ngModel" />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">La contraseña es requerida.</div>
          <div *ngIf="password.errors.minlength">
            La contraseña debe ser mayor a 10 caracteres.
          </div>
        </div>
        <div *ngIf="isErrorRegex" class="alert-danger">La contraseña debe contener un al menos caracter en
          mayúscula, minúscula, dígito y símbolo.</div>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Confirmación de contraseña</label>
        <input type="password" class="form-control" name="passwordConfirmation" [(ngModel)]="form.passwordConfirmation"
          required minlength="7" #passwordConfirmation="ngModel" (change)="onPasswordChange()" />
        <div class="alert-danger" *ngIf="passwordConfirmation.errors && f.submitted">
          <div *ngIf="passwordConfirmation.errors.required">La confirmación de la contraseña es requerida.</div>
          <div *ngIf="passwordConfirmation.errors.minlength">
            La contraseña debe ser mayor a 7 caracteres.
          </div>
        </div>
        <div class="alert-danger" *ngIf="isErrorConfirmation">La confirmación de la contraseña no coincide con la
          contraseña.</div>
      </div>
      <div class="form-group">
        <select name="role" class="form-control" [(ngModel)]="form.role" (change)="onRoleChange($event)" required
          #role="ngModel">
          <option [ngValue]="null" disabled selected>Rol</option>
          <option *ngFor="let item of roles" [ngValue]="item.abbr">{{item.name}}</option>
        </select>
        <div class="alert-danger" *ngIf="role.errors && f.submitted">
          <div *ngIf="role.errors.required">El rol es requerido.</div>
        </div>
      </div>
      <div class="form-group" *ngIf="selectedRole.faculties.length>0">
        <label>Este rol permite:</label>
        <ul>
          <li *ngFor="let item of selectedRole.faculties">
            <p>{{ item.name }}: {{ item.description}}</p>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Registrar usuario</button>
      </div>
      <div class="alert alert-danger" *ngIf="f.submitted && isSignUpFailed">
        Ocurrió un error al crear el usuario:<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Usuario agregado correctamente.
    </div>
  </div>
</div>