<div class="col-md-12">
  <div class="card" *ngIf="showContinueAs">
    <div class="form-group">
      <p>Inicio de sesión guardada</p>
      <button class="btn btn-primary btn-block" (click)="onContinueAs()">
        Continuar con la sesión guardada
      </button>
    </div>
    <div class="form.form-group">
      <button class="btn btn-primary btn-block" (click)="onDeleteAllAndShowLogin()">
        Iniciar sesión
      </button>
    </div>
  </div>
  <div class="card card-container" *ngIf="!showContinueAs">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
          #username="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
          El nombre de usuario es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="7"
          #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">La contraseña es requerida.</div>
          <div *ngIf="password.errors.minlength"> La contraseña debe tener al menos 7 caracteres.</div>
        </div>
      </div>
      <div class="form-group">
        Recordarme en este equipo: <input type="checkbox" name="rememberme" class="checkbox" [(ngModel)]="form.rememberme" #rememberme="ngModel">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</div>