<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Buscar usuarios
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" name="termino" class="form-control" [(ngModel)]="terms">
                </div>
                <div class="col-md-2">
                    <label>Usuarios activos</label>&nbsp;<input type="checkbox" name="activos" class="checkbox"
                        [(ngModel)]="searchActiveUsers">
                </div>
                <div class="col-md-1">
                    <button class="btn-primary btn" (click)="onSearch()">Buscar</button>
                </div>
                <div class="col-md-1">
                    <button class="btn-primary btn" (click)="onExport()">Exportar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered border-primary align-middle">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Sexo</th>
                            <th>¿Activo?</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users">
                            <td>{{item.userId}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.gender=='F'?'FEMENINO':'MASCULINO'}}</td>
                            <td>{{item.status?'SI':'NO'}}</td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <button class="btn" title="Ver y editar datos de usuario"
                                                (click)="onEditUser(item)"><span class="oi oi-pencil"></span></button>
                                        </div>
                                        <div class="col-md-6">
                                            <button *ngIf="item.status==true" class="btn" title="Habilitar usuario"
                                                (click)="onDeleteUser(item)"><span class="oi oi-trash"></span></button>
                                            <button *ngIf="item.status==false" class="btn" title="Habilitar usuario"
                                                (click)="onDeleteUser(item)"><span class="oi oi-plus"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
