<div class="page">
  <div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
      <a class="navbar-brand" href="">Módulo Login</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div>
      <ul class="nav flex-column">
        <li class="nav-item px-3">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item px-3">
          <a href="/register" *ngIf="(isManager || isSupervisor) && isLoggedIn" class="nav-link"
            routerLink="register">Registrar usuario</a>
        </li>
        <li class="nav-item px-3">
          <a href="/search" *ngIf="(isManager || isSupervisor) && isLoggedIn" class="nav-link"
            routerLink="search">Buscar
            usuarios</a>
        </li>
        <li class="nav-item px-3" *ngIf="isLoggedIn"> <a href class="nav-link" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>

  </div>
  <div class=""></div>
  <div class="main">
    <div class="top-row">
      <a *ngIf="isLoggedIn" href="javascript:void(0);" (click)="showProfile()" class="nav-link">Hola {{ username }}!</a>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>